<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF" text="#000000">
<table width="98%" border="0" cellspacing="0" cellpadding="0">
  <tr align="center" valign="top" bgcolor="#000066"> 
    <td colspan="3" height="62"><img src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/BridgeClub/Images/Sunset.jpg" width="800" height="73"></td>
  </tr>
  <tr align="center" valign="top"> 
    <td rowspan="2" width="20%" bgcolor="#CCFFCC"> 
      <table cellspacing="1" cellpadding="1" border="0"
 width="146" name="Navigation" align="center">
        <tbody> 
        <tr> 
          <td width="14" valign="top"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td width="125"><a href="../index.html"><font face="Arial, Helvetica, sans-serif">Home 
            Page</font></a></td>
        </tr>
        <tr> 
          <td valign="top"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td><a href="../weekly.html"><font face="Arial, Helvetica, sans-serif">Weekly 
            Schedule </font></a></td>
        </tr>
        <tr> 
          <td valign="top" height="22"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td><a href="../calendar.html"><font face="Arial, Helvetica, sans-serif">Calendar</font></a></td>
        </tr>
        <tr> 
          <td valign="top" height="20"><img height="12"
 alt="" hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left"
 border="0"></td>
          <td height="20"><a href="../events.html"><font face="Arial, Helvetica, sans-serif">Special 
            Events </font></a></td>
        </tr>
        <tr> 
          <td valign="top" height="22"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td><a href="../results.html"><font face="Arial, Helvetica, sans-serif">Game 
            Results </font></a></td>
        </tr>
        <tr> 
          <td valign="top" height="15"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td><a href="../links.html"><font
 face="Arial, Helvetica, sans-serif">Links</font></a></td>
        </tr>
        <tr> 
          <td valign="top" height="15"><img height="12" alt=""
 hspace="3" src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/meditateinvictoria/images/arrow.gif" width="8" align="left" border="0"></td>
          <td><a href="../contact.html"><font face="Arial, Helvetica, sans-serif">Contact</font></a></td>
        </tr>
        </tbody> 
      </table>  <p><img src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/BridgeClub/Images/ThePlane.jpg" width="149" height="323"></p>
    </td>
    <td height="450">&nbsp;</td>
    <td rowspan="2" width="20%" bgcolor="#CCFFCC"><img src="file:///C|/Program%20Files/Macromedia/Dreamweaver%204/sites/BridgeClub/Images/Blue%20hills_sm.jpg" width="149" height="229"></td>
  </tr>
  <tr>
    <td align="center" valign="bottom" height="50"> 
      <div align="center"> </div>
      <p align="center"><font face="Arial, Helvetica, sans-serif" size="2" color="#663366"><b>Ewa's Bridge Club</b></font><font face="Arial, Helvetica, sans-serif" size="2" color="#6666CC"><br>
        </font><font color="#6666CC"><font
 face="Arial, Helvetica, sans-serif">1234 
        Anywhere Street<font size="1"><br>
        Victoria, British Columbia&nbsp;&nbsp;V8R 
        2B2</font>&nbsp; 
        Canada</font><br>
        <small><font face="Arial, Helvetica, sans-serif">telephone: (250) 555-1234<br>
        </font></small> <small><font face="Arial, Helvetica, sans-serif"
 size="2"> email<big>:&nbsp; <a
 href="mailto:EwasBridge@shaw.ca">EwasBridge@shaw.ca</a>&nbsp;</big></font></small> 
        </font></p>
                      </td>
  </tr>
</table>
</body>
</html>